/* This file will hold the main styles for your website.

Omagetgem 1.x */

body {
	font-size: 13.89px;
  font-family: arial, sans-serif;
}

h1,h2,h3 {
	font-weight: bold;
  font-family: arial, sans-serif;
}

#page {
  background: url(../images/header-gradient.png) repeat-x 0 0 transparent;
  padding-top: 19px;
}

#zone-user-wrapper {
  margin: 10px 0px;
}

#zone-menu-wrapper {
	margin-bottom: 20px;
}

#region-branding {
  padding-top: 20px;
}

#zone-content-wrapper,
#zone-postscript-wrapper {
/*background: url(../images/back-clean.png) repeat-x bottom;*/
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 6%, #e3f4fa 12%, #b8e4f2 24%, #4cc8f1 88%, #4cc8f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#ffffff), color-stop(12%,#e3f4fa), color-stop(24%,#b8e4f2), color-stop(88%,#4cc8f1), color-stop(100%,#4cc8f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 6%,#e3f4fa 12%,#b8e4f2 24%,#4cc8f1 88%,#4cc8f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 6%,#e3f4fa 12%,#b8e4f2 24%,#4cc8f1 88%,#4cc8f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 6%,#e3f4fa 12%,#b8e4f2 24%,#4cc8f1 88%,#4cc8f1 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 6%,#e3f4fa 12%,#b8e4f2 24%,#4cc8f1 88%,#4cc8f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4cc8f1',GradientType=0 ); /* IE6-9 */
}

#zone-footer-wrapper {
  background: url(../images/back-clean.png) repeat-x bottom;
  width: 100%;
  height: 320px;
}

#zone-footer-wrapper:before {
	content: "";
	background: url(../images/back-full.png) no-repeat bottom;
	width: 100%;
	height: 320px;
	position: absolute;
}


#zone-content {
padding: 0px 0px 0px 0px;

}


h1#page-title {
    padding-left: 15px;
    margin-bottom: 0;
    font-size: 22.22px;
    font-family: arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: url(../images/gradient-purp.png) repeat-x bottom #6b29a3;
    line-height: 50px;
    border-radius: 5px 5px 0 0;
}

.front h1#page-title {
  display: none;
}

ul {
	list-style: none;
}


body.page-node div.region-content-inner {
	-webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 5px; 
  margin-bottom: 10px;
 }
 
 body.front div.region-content-inner {
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0; 
  margin-bottom: 0;
 }
 
 /*body.page-taxonomy div.region-content-inner h1 {
	-webkit-box-shadow: 0px -2px 5px 0px #000000;
  -moz-box-shadow: 0px -2px 5px 0px #000000;
  box-shadow: 0px -2px 5px 0px #000000;
  border-radius: 5px; 
  margin-bottom: 10px;
 }
 */

body.page-taxonomy div.region-content-inner div.pane-page-level1-panel-pane-1 {
	background-color: #FFFFFF;
	border-radius: 0 0 5px 5x;
	padding-bottom: 12px;
}

body.page-taxonomy div.region-content-inner div.tabs {
	display: none;
}

body.page-taxonomy div.region-content-inner div.pane-page-level1-panel-pane-1 {
	z-index: 2;
}

body.page-taxonomy div.region-content-inner div.pane-page-level1-panel-pane-1:after {
  content: "";
  height: 100.5%;
  padding: 0 0 50px;
  position: absolute;
  top: -51px;
  left:-1px;
  width: 100.5%;
  z-index: 2 !important;
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 5px;
}
 
body.page-taxonomy div.region-content-inner div.pane-product-taxonomy-panel-pane-1 { 
 -webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 5px;
} 
  
/*body.page-taxonomy div.region-content-inner div.product-display-panel {
  -webkit-box-shadow: 0px 1px 5px 0px #000000;
  -moz-box-shadow: 0px 1px 5px 0px #000000;
  box-shadow: 0px 1px 5px 0px #000000;
  border-radius: 0 0 5px 5px; 
  padding-bottom: 1px;
}
 */
 
 /*body.page-taxonomy div.region-content-inner div.l-edge {
	-webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 5px; 
  margin-bottom: 10px;
 }*/
 
/**
 * Theme for front page
 */
h1#front-page-title {
  background: none repeat scroll 0 0 #6B29A3;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  font-size: 34.72px;
  height: 65px;
  letter-spacing: 0;
  line-height: 66px;
  padding-left: 25px;
  position: relative;
  width: 90%;
}

h1#front-page-title:after {
  border-color: #6B29A3 transparent;
  border-style: solid;
  border-width: 20px 0 0 20px;
  bottom: -20px;
  content: "";
  display: block;
  position: absolute;
  right: 27px;
  width: 0;
} 
 
.node-front-page {
  position: relative;
}

.node-front-page div.field-name-body {
  padding-left: 0;
  padding-right: 80px;
  background: url(../images/girl.png) no-repeat scroll 100% 0 transparent;
  font-size: 16.67px;
  color: #6B29A3;
  min-height: 120px;
}

.node-front-page div.field-name-field-sample-product-title {
  color: #FFFFFF;
  background: url("../images/gradient.png") repeat-x scroll center bottom #3FC0F0;
  border-radius: 5px 5px 0 0;
  font-size: 16.67px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 0;
  padding-left: 110px;
  position: relative;
}

.node-front-page div.field-name-field-sample-product-title:before {
  content: "";
  position: absolute;
  background: url(../images/free-sample-star.png) 0 0 no-repeat transparent;
  height: 113px;
  width: 113px;
  left: 0;
  top: -30px; 
  z-index: 20;  
}

.node-front-page div.field-name-field-sample-product-image {
  float: left;
  position: relative;
}

.node-front-page div.field-name-field-sample-product-body {
  background: #FFFFFF;
  font-size: 11.11px;
  padding-top: 10px;
  padding-right: 10px;
  line-height: 16px;
  padding-bottom: 5px;
}

.node-front-page div.field-name-field-sample-product-file {
  background: #FFFFFF;
  border-radius: 0 0 5px 5px;
}

.node-front-page div.field-name-field-sample-product-file .file-icon {
  display: none;
}

.node-front-page div.field-name-field-sample-product-file a {
  background: url("../images/gradient.png") repeat-x scroll center bottom #3FC0F0;
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  padding: 3px 2px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 3;
}

span.blue-text {
  color: #3FC0F0;
}

.node-front-page > div.content {
	background-color: none;
  border-radius: 0 0 5px 5px;
  line-height: 20px;
}

div.field-name-field-sample-product-file div.field-item {
	float: right;
  margin-right: 10px;
  width: 200px;
}

body.front div#region-content div#block-system-main,
body.page-node-1 div#region-content div#block-system-main {
  background: none;
  border-radius: 0 0 5px 5px;
  padding: 0px;
}

body.front div.field-name-body div.field-items {
	position: relative;
	top: -10px;
}
    

/*Theme for Featured Products
 */
#block-views-recent-products-block {
	padding-top: 20px;
}

.recent-product-block h2.block-title {
	background: url(../images/gradient.png) repeat-x bottom #3FC0F0;
}
  
div.product-row {
	float: left;
	border: 1px solid #6d29a0;
  margin: 10px 5px 0 6px;
}

div.product-row img {
	background: none repeat scroll 0 0 #FFFFFF;
}
	 
 div.view-recent-products {
 	background-color: #daf2fc;
 	height: 125px;
 	position: relative;
 	border-radius: 0 0 5px 5px;
 }
 
 div.view-recent-products .pager {
	border: none;
}

 div.view-recent-products .pager li.pager-current,
 div.view-recent-products .pager li.pager-first a,
 div.view-recent-products .pager li.pager-last a {
	display: none;
} 
 
  div.view-recent-products .pager li.pager-previous a,
  div.view-recent-products .pager li.pager-next a {
	background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.8) !important;
   border-radius: 15px 15px 15px 15px;
   color: #FFFFFF;
   display: block;
   line-height: 30px;
   padding: 0;
   text-align: center;
   width: 30px;
}

 div.view-recent-products .pager li.pager-first,
 div.view-recent-products .pager li.pager-previous.first {
	position: absolute;
	top: 45px;
	left: 15px;
}

 div.view-recent-products .pager li.pager-previous a:hover {
	border-radius: 15px;
}
	  
 div.view-recent-products .pager li.pager-last, 
 div.view-recent-products .pager li.pager-next.last {
	position: absolute;
	top: 45px;
	right: 15px;
} 

 div.view-recent-products .item-list ul.pager {
	position: static;
}

 div.view-recent-products .pager li.pager-next {
	border-left: none;
}

 div.view-recent-products .pager li.pager-previous {
	border-right: none;
}

#block-views-recent-products-block {
  padding-bottom: 10px;
}


/*Theme for Recent News
 */
 
h2.block-title {
    padding-left: 15px;
    margin-bottom: 0;
    font-size: 16.67px;
    font-family: arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: url(../images/gradient-purp.png) repeat-x bottom #6b29a3;
    line-height: 50px;
    border-radius: 5px 5px 0 0;
}

div.view-recent-news div.views-row {  /*text*/
	background-color: #daf2fc;
	border: none;
	font-size: 11.11px;
} 

div.view-recent-news {
	border: 1px solid #daf2fc;
	border-radius: 0 0 5px 5px;
}

div.view-recent-news p {
	margin-bottom: 0;
}

div.views-field-title a {
	font-size: 12.5px;	
	font-family: arial, sans-serif;
   font-weight: bold;
   color: #ffffff;
   text-decoration: none;
}

div.views-field-body {
	padding: 1px 5px 6px 10px;
}

div.views-field-title {
	padding-left: 10px;	
	background: #3FC0F0;
	
}

div.view-recent-news div.views-row-last {
	border-radius: 0 0 5px 5px;
}

#block-views-recent-news-block-1 {
	padding-bottom: 10px;
}

/*Theme for Blog Posts
 */
 
div.view-blog-view div.item-list ul.pager {
  border-radius: 0 0 5px 5px;
} 

h3.blog-title {
	margin-bottom: 0;
}

div.node-blog-post div.field-name-body {
	background-color: #FFFFFF;
	border-radius: 0 0 5px 5px; 
	padding-bottom: 1px;
}
 
div.group-left {
    width: 55%;
}

div.group-header {
    display: none;
}

div.group-right {
    width: 45%;
}

h3.blog-title {
    padding-left: 15px;
    font-size: 13.89px;
    font-family: arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #3FC0F0;
    line-height: 30px;
    border-right: 1px solid #FFFFFF;
}

div.field-name-post-date {
    text-align: right;   
    padding-right: 15px;
    font-size: 13.89px;
    font-family: arial, sans-serif;
    font-weight: bold;
    color: #6c28a1;
    background: #e1d5ed;
    line-height: 30px;
}

div.field-name-body {
    padding: 0 15px;
}

div.view-blog-view div.views-row {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
}

div.view-blog-view .pager li.first,
div.view-blog-view .pager li.first a,
div.view-blog-view .pager li.first a:hover {
	border-radius: 0 0 0 5px;
}

div.view-blog-view .pager li.last,
div.view-blog-view .pager li.last a,
div.view-blog-view .pager li.last a:hover {
	border-radius: 0 0 5px 0;
}

div.view-blog-view .pager li.pager-previous a {
	width: 103%;
}
	
	
	
/*Theme for Product Browser Menu
 */

div.menu-name-menu-product-categories-menu ul.menu li {
    list-style: none !important;
    margin-left: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
}

div.menu-name-menu-product-categories-menu ul.menu li a {    
    font-size: 19.44px;
    font-family: arial, sans-serif;
    font-weight: bold;    
    padding-left: 10px;    
    margin-left: 50px;
    color: #000000;
    text-decoration: none;
    display: block;
    line-height: 50px;
    border-left: 1px solid #FFFFFF;
}

div.menu-name-menu-product-categories-menu ul.menu > li {
    background-image: url(../images/gem.png);
    background-repeat: no-repeat;
    background-position: 12px 14px;
}

/*Literacy*/    
li.menu-mlid-790 {
    background-color: #e9c300;
    color: #FFFFFF;
}

li.menu-mlid-790 a {
    background-color: #f5e180;
    color: #000000;
}

body.context-literacy h1#page-title {
	background: #e9c300;
	color: #FFFFFF;
}

/*Numeracy*/
li.menu-mlid-805 {
    background-color: #187698;
    color: #FFFFFF;
}

li.menu-mlid-805 a {
    background-color: #c3d7de;
    color: #000000;
}

body.context-numeracy h1#page-title {
	background: #187698;
	color: #FFFFFF;
}

/*PHSE*/ 
li.menu-mlid-808 {
    background-color: #7e49a1;
    color: #FFFFFF;
}

li.menu-mlid-808 a {
    background-color: #d9cedf;
    color: #000000;
}

body.context-phse h1#page-title {
	background: #7e49a1;
	color: #FFFFFF;
}

/*RE*/
li.menu-mlid-811 {
    background-color: #3cb2e0;
    color: #FFFFFF;
}

li.menu-mlid-811 a {
    background-color: #cde5ef;
    color: #000000;
}

body.context-re h1#page-title {
	background: #3cb2e0;
	color: #FFFFFF;
}

/*Role Play*/
li.menu-mlid-815 {
    background-color: #dd2980;
    color: #FFFFFF;
}

li.menu-mlid-815 a {
    background-color: #ebc9d9;
    color: #000000;
}

body.context-role-play h1#page-title {
	background: #dd2980;
	color: #FFFFFF;
}

/*Theme*/
li.menu-mlid-824 {
    background-color: #d85f26;
    color: #FFFFFF;
}

li.menu-mlid-824 a {
    background-color: #ebd3c7;
    color: #000000;
}

body.context-theme h1#page-title {
	background: #d85f26;
	color: #FFFFFF;
}

/*New Menu Category Title
li.menu-mlid-??? {
    background-color: #??????;
    color: #FFFFFF;
}

li.menu-mlid-??? a {
    background-color: #??????;
    color: #000000;
}

body.context-??category-title?? h1#page-title {
	background: #??????;
	color: #FFFFFF;
}

Delete this text and move this at to the end of the Category Title above to apply    -> */

li.last {
  border-bottom: none !important;
}	
 
div.menu-name-menu-product-categories-menu ul.menu li.active-trail > a,
div.menu-name-menu-product-categories-menu ul.menu a:hover {
    color: #FFFFFF;
    background: none;
}

div.menu-name-menu-product-categories-menu > ul.menu > li.first {
    border-radius: 5px 5px 0 0;
}

div.menu-name-menu-product-categories-menu > ul.menu > li.first > a {
    border-radius: 0 5px 0 0;
}

div.menu-name-menu-product-categories-menu > ul.menu > li.last{
    border-radius: 0 0 5px 5px;
}

div.menu-name-menu-product-categories-menu > ul.menu > li.last > a {
    border-radius: 0 0 5px 0px;
}

li.last > ul.menu > li.last {
    border-bottom: none;
}

li.last > ul.menu > li.last a {
    border-radius: 0 0 4px 0;
}

div.menu-name-menu-product-categories-menu ul.menu > li > ul.menu li {
    background-image: none;
}

div.menu-name-menu-product-categories-menu ul.menu > li > ul.menu li a{
    font-size: 15.28px;
    font-family: arial, sans-serif;
    font-weight: bold; 
}

div.menu-name-menu-product-categories-menu ul.menu > li > ul.menu > li ul a {
    font-size: 12.5px;
    font-family: arial, sans-serif;
    font-weight: bold;
    line-height: 32px;
}

div.region-sidebar-first-inner div#block-menu-block-1 {
	padding-bottom: 10px;
}



/* Theme for Product Display
 */
 
/*Priced Products*/
 
div.pane-product-taxonomy-panel-pane-1 h2.pane-title {
	background: url(../images/gradient.png) repeat-x bottom #3FC0F0;
	color: #FFFFFF;
	font-size: 16.67px;	
	margin: none;
	padding: 15px;
	margin-bottom: 0;
	border-radius: 5px 5px 0 0;
}

div.r-edge {
	padding: 0 !important;
}

div.view-product-taxonomy div.views-row {
	clear: both;
	background: #daf2fc;
}

div.view-product-taxonomy div.views-field-field-description {
	font-size: 12.5px;
	background: #daf2fc;
	width: 380px;
	height: 85px;
	margin-left: 5px;
}
div.view-product-taxonomy div.views-field-title {
	padding: 0;
	background: #daf2fc;
	color: #6b29a4;
	margin-left: 5px;
	font-weight: bold;
}

div.view-product-taxonomy div.views-field-field-image {
	height: 96px;
	background: #daf2fc;
	float: right;
	padding: 3px 1px 0 0;
}

div.view-product-taxonomy div.views-field-commerce-price {
	float: left;
	background-color: #40c0f1;
	line-height: 30px;
	padding: 0 25px;
	border-right: 1px solid #DAF2FC;
}

div.view-product-taxonomy div.views-row-last div.views-field-commerce-price {
	border-radius: 0 0 0 5px;
}

div.view-product-taxonomy div.views-field-add-to-cart-form {
	float: left;
	border-left: 2px solid #DAF2FC;
}

div.view-product-taxonomy div.views-field-add-to-cart-form input.form-submit {
	background-color: #6b29a4;
	color: #FFFFFF;
	padding: 0 35px 0 36px;
	height: 30px;
	font-family: arial, sans-serif;
	font-size: 15px;
	border: none;
	width: 148px;
}

div.view-product-taxonomy div.views-row-last div.views-field-add-to-cart-form input.form-submit {
	border-radius: 0 0 5px 0;
}

div.view-product-taxonomy div.views-field-field-free-commerce-file {
  z-index: 3;
  height: 30px;
}

div.view-product-taxonomy div.views-field-field-free-commerce-file div.download a {
  background-color: #6B29A4;
  color: #FFFFFF;
  display: inline-block;
  font-family: inherit;
  font-size: 14.7px;
  height: 20px;
  position: relative;
  right: -410px;
  text-align: center;
  text-decoration: none;
  top: -26px;
  width: 108px;
}
  
div.view-product-taxonomy .pager li.pager-previous a {
	width: 70px;
}

div.view-product-taxonomy div.view-content,
div.view-individual-product-taxonomy div.view-content {
  background-color: #6dcff4;
  border: 1px solid #DAF2FC;
  border-radius: 0 0 5px 5px;
}

td:hover, th:hover, tr:hover td,
tr.even:hover td.active, tr.odd:hover td.active, td.active {
	background: none !important;
}

body.page-resources div.region-content-inner {
	-webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 5px; 
}

div.view-product-taxonomy div.views-field-product-id {
  line-height: 30px;
  float: left;
}

div.view-product-taxonomy div.views-field-product-id a {
	text-decoration: none;
	color: #FFFFFF;
	background: none repeat scroll 0 0 #6DCFF4;
  display: block;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  width: 300px;
}

div.view-product-taxonomy div.view-empty {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 0 0 5px 5px;
}

/* Individual Product Displays
 */
 
body.page-products div#block-system-main div.panel-display {
	border: 1px solid #DAF2FC;
	border-radius: 0 0 5px 5px;
} 
 
div.view-individual-product-taxonomy div.views-row {
	clear: both;
	background: #daf2fc;
}

div.view-individual-product-taxonomy div.views-field-field-description {
	font-size: 14.3px;
	background: #daf2fc;
	width: 99%;
	margin-left: 5px;
}
div.view-individual-product-taxonomy div.views-field-title {
	padding: 0;
	background: #daf2fc;
	color: #6b29a4;
	margin-left: 5px;
}

div.view-individual-product-taxonomy div.views-field-field-image {
	height: 96px;
	background: #daf2fc;
	float: right;
}

div.view-individual-product-taxonomy div.views-field-field-image img {
	background-color: #FFFFFF;
}

div.view-individual-product-taxonomy div.views-field-commerce-price {
	float: left;
	background-color: #40c0f1;
	line-height: 30px;
	padding: 0 25px;
	border-right: 1px solid #DAF2FC;
}

div.view-individual-product-taxonomy div.views-field-add-to-cart-form {
	float: right;
	background-color: #6b29a4;
	border-left: 1px solid #DAF2FC;
}

div.view-individual-product-taxonomy div.views-field-add-to-cart-form input.form-submit {
	background-color: #6b29a4;
	color: #FFFFFF;
	padding: 0 35px;
	height: 30px;
	font-family: arial, sans-serif;
	font-size: 15px;
}

div.view-individual-product-taxonomy div.views-field-field-free-commerce-file {
  float: right;
  position: relative;
  top: 5px;
  z-index: 3;
  right: -130px;
}

div.view-individual-product-taxonomy div.views-field-field-image-1 {
  background: none repeat scroll 0 0 #DAF2FC;
  border-radius: 0 0 5px 5px;
  float: left;
  margin-bottom: 1px;
  padding-bottom: 10px;
  width: 100%;
}

div.view-individual-product-taxonomy div.views-field-field-image-1:before {
	content: "Click pictures to preview";
	display: block;
	position: relative;
	color: #FFFFFF;
	left: 87px;
  text-align: center;
  top: -30px;
  width: 298px;
  font-weight: bold;
  background: #6DCFF4;
  height: 30px;
  line-height: 30px;
}

div.view-individual-product-taxonomy div.views-field-field-image-1 ul li {
	float: left;
}

div.view-individual-product-taxonomy div.views-field-field-free-commerce-file div.download a {
  background-color: #6B29A4;
  display: block;
  text-align: center;
  width: 100px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14.7px;
  font-family: inherit;
}  

body.page-products div.region-content-inner {
	-webkit-box-shadow: 0px 0px 5px 0px #000000;
  -moz-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 5px; 
}


/* Free Pane 

div.pane-product-taxonomy-free-panel-pane-1 h2.pane-title {
	background: url(../images/gradient.png) repeat-x bottom #3FC0F0;
	color: #FFFFFF;
	font-size: 16.67px;	
	margin: none;
	padding: 15px;
	margin-bottom: 0;
	border-radius: 5px 5px 0 0;
}


div.view-product-taxonomy-free div.views-row {
	clear: both;
	background: #daf2fc;
}

div.view-product-taxonomy-free div.views-field-body {
	font-size: 11.11px;
	background: #daf2fc;
	width: 380px;
	height: 80px;
	margin-left: 5px;
	padding: 0;
}
div.view-product-taxonomy-free div.views-field-title {
	padding: 0;
	background: #daf2fc;
	color: #6b29a4;
	margin-left: 5px;
}

div.view-product-taxonomy-free div.views-field-field-image {
	height: 96px;
	background: #daf2fc;
	float: right;
}

div.view-product-taxonomy-free div.views-field-field-price {
	float: left;
	background-color: #40c0f1;
	line-height: 30px;
	padding: 0 25px;
}

div.view-product-taxonomy-free div.views-field-field-file {
	float: right;
	background-color: #6b29a4;
	color: #FFFFFF;
	width: 152px;
	height: 30px;
}

*/

/* Theme for Browser Display Images 
 */

div.taxonomy-browser tr {
  display: inline-block;
  height: 132px;
  padding: 13px 0;
  position: relative;
  z-index: 3;
}
  
div.taxonomy-browser td {
  padding: 0 0 0 15px;
}

div.taxonomy-browser div.views-field-field-image img {
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 5px 5px 50px;
  vertical-align: top;
  z-index: 10;
  position: relative;
}

div.taxonomy-browser div.views-field-name {
	position: relative;
	z-index: 10;
}

div.taxonomy-browser td.Literacy div.views-field-field-image a {
  color: #E9C300;
}

div.taxonomy-browser td.Numeracy div.views-field-field-image a {
  color: #187698;
}

div.taxonomy-browser td.PSHE div.views-field-field-image a {
  color: #7E49A1;
}


div.taxonomy-browser td.RE div.views-field-field-image a {
  color: #3CB2E0;
}

div.taxonomy-browser td.Role-Play div.views-field-field-image a {
  color: #DD2980;
}

div.taxonomy-browser td.Theme div.views-field-field-image a {
  color: #D85F26;
}

div.taxonomy-browser table {
	margin-bottom: 0px;
}


div.taxonomy-browser div.views-field-name {
  position: relative;
  bottom: 45px;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 149px;
  height: 28px;
  left: 5px;
}

div.taxonomy-browser table {
	border: none;
	margin-bottom: none;
}

.rounded-corner .t-edge,
.rounded-corner .l-edge,
.rounded-corner .r-edge,
.rounded-corner .b-edge,
.rounded-corner .wrap-corner .l,
.rounded-corner .wrap-corner .r {
	background: none !important;
	background-image: none !important;
}

div.panel-display div.wrap-corner div.t-edge,
div.panel-display div.wrap-corner div.b-edge {
	height: 0px !important;
}

.rounded-corner .wrap-corner {
	border-radius: 5px;
	margin-bottom: 10px;
}


/* Theme for User Dashboard
 */
 
body.page-user div.tabs {
	display: none;
}

body.page-user h2.pane-title {
    padding-left: 15px;
    margin-bottom: 0;
    font-size: 22.22px;
    font-family: arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: url(../images/gradient-purp.png) repeat-x bottom #6b29a3;
    line-height: 50px;
    border-radius: 5px 5px 0 0;
  }
  
body.page-user div.pane-user-mail {
    background: none repeat scroll 0 0 white;
    border-radius: 0 0 5px 5px;
    padding-top: 15px;
  }
 
 
 
div.pane-user-dashboard-licensed-files div.pane-content {
	border-radius: 0 0 5px 5px; 
}
 

div.view-user-dashboard-licensed-files div.file-name {
    padding-left: 15px;
    font-family: arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    background: #3FC0F0;
    line-height: 30px;
    border-right: 1px solid #FFFFFF;
    width: 396px;
    float: left;
}

div.view-user-dashboard-licensed-files div.file-name h3 {
	margin-bottom: 0;
	font-size: 13.89px;
}
	

div.view-user-dashboard-licensed-files div.file-link {
  text-align: right;   
  padding	: 0 20px;
  font-size: 13.89px;
  font-family: arial, sans-serif;
  font-weight: bold;
  background: #e1d5ed;
  line-height: 30px;
  width: 57px;
  float: right;
}

div.view-user-dashboard-licensed-files div.file-link a {
  text-decoration: none;
  color: #6c28a1;
}

div.view-user-dashboard-licensed-files div.break {
  height: 30px;
}

div.view-user-dashboard-licensed-files div.views-row-last div.file-name {
	border-radius: 0 0 0 5px;
}

div.view-user-dashboard-licensed-files div.views-row-last div.file-link {
	border-radius: 0 0 5px 0;
}

/* Theme for User Creation
 */
 
body.page-user #region-content div.region-inner {
	background-color: #FFFFFF;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000;
}
	
body.page-user div#block-system-main {
	padding: 0 15px 15px 15px;
}

body.not-logged-in input#edit-name, 
body.not-logged-in input#edit-name--2,
body.not-logged-in input#edit-mail {
	width: 99%;
}

body.page-user-edit input#edit-mail {
	width: 99%;
}

body.page-checkout input#edit-account-login-mail, 
body.page-checkout input#edit-account-login-password, 
body.page-checkout input#edit-account-login-mail--2, 
body.page-checkout input#edit-account-login-mail--3 {
	width: 500px;
}

body.page-user-register input#edit-field-school-und-0-value,
body.page-user-register input#edit-field-job-und-0-value {
	width: 99%;
}

/* Theme for User Login
 */

.toboggan-unified #login-links a.lt-active, .toboggan-unified #login-links a.lt-active:hover {
  background-color: #D9CEDF;
  border: 2px solid #333333;
  border-radius: 5px;
}


.toboggan-unified #login-links a {
  background-color: #EEEEEE;
  border: 1px solid #666666;
  padding: 0.5em;
  border-radius: 5px;
}

body.page-user #login-links a:link {
	text-decoration: none;
	color: #000000;
}
	
body.page-user div#login-message {
	padding: 15px 0; 
}

div#block-logintoboggan-logintoboggan-logged-in div.block-inner {
	float: right;
	padding-top: 30px;
}

div#block-logintoboggan-logintoboggan-logged-in a,
div#block-logintoboggan-logintoboggan-logged-in a:link, 
div#block-logintoboggan-logintoboggan-logged-in a:hover {
  color: #6B29A3;
  text-decoration: none;
  font-weight: bold;
  font-size: 12.5px;
}


/* Theme for About Us
 */
 
.node-page div.content {
	width: 540px
} 
 
.node-page div.field-name-body {
 	background: #FFFFFF;
 	min-height: 235px;
 	padding: 0 15px;
 	padding-top: 20px;
 	border-radius: 0 0 5px 5px;
 	padding-bottom: 15px;
 }


div.field-name-field-sample-product-file .free {
	color: #6B29A3;
}

div.field-name-field-front-title:before {
  content: "";
	height: 173px;
	width: 540px;
	top: 205px;
	position: absolute;
	border-radius: 5px;
	z-index: 2;
  -webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
   box-shadow: 0px 0px 4px 0px #000000; 
}

#block-views-recent-news-block-1 .block-inner,
div.block-menu-block .block-inner,
#block-views-recent-products-block .block-inner {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 0px #000000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 4px 0px #000000; /* FF3.5 - 3.6 */
  box-shadow: 0px 0px 4px 0px #000000; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
 }
/*div.field-name-field-sample-product-file div.field-item:before {
	content: ""
}
*/

div#region-content {
  padding-bottom: 10px;
}



/* Facebook and Twitter Icons
 */

div.facebook {
	height: 0;
}

div.twitter {
	height: 0;
} 
 
div.facebook a {
  background-image: url("../images/facebook_icon.png");
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  position: relative;
  right: -865px;
  top: -36px;
  z-index: 20;
  width: 20px;
  border-radius: 4px;
}
  
div.twitter a {
  background-image: url("../images/twitter-icon.png");
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  position: relative;
  right: -900px;
  top: -36px;
  z-index: 20;  
  width: 20px;
  border-radius: 4px;
}

.block-nice-menus {
	z-index: 2;
}


/* Shopping Cart
 */
 
div.cart-contents tbody td.views-field-quantity,
div.cart-contents tbody td.views-field-commerce-total,
div.cart-contents tbody td.views-field-line-item-title {
	padding: 4px;
	font-size: 11px;
}


div.view-commerce-cart-block ul.inline li {
	padding: 0 5px !important;
	margin-right: 0;
}

div.view-commerce-cart-block div.view-footer div.line-item-total {
	margin-right: 5px;
}

div.view-commerce-cart-block div.view-footer div.line-item-quantity {
	margin-left: 5px;
}

div.view-commerce-cart-block,
div.cart-empty-block {
	background-color: #FFFFFF;
	border-radius: 5px;
}
section.block-commerce-cart div.block-inner {
	-webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000; 
  border-radius: 5px;
}

div.cart-contents div.line-item-summary {
	margin-bottom: 0;
}

div.cart-empty-block {
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: 5px;
}

section.block-commerce-cart {
	padding-bottom: 15px;
}

/* Checkout
 */

body.page-cart div.region-content-inner div.block-system-main,
body.page-checkout div.region-content-inner div.block-system-main {
  background: none repeat scroll 0 0 white;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000; 
  }
  
div.addressfield-container-inline input.locality {
  width: 156px;
}

div.addressfield-container-inline input.postal-code {
	width: 100px;
}

body.not-logged-in li.line-item-summary-checkout {
	display: none;
}

body.not-logged-in div.form-actions input#edit-checkout {
	display: none;
}

body.not-logged-in div.commerce-line-item-views-form div.form-actions:before {
	content: "Please log in before proceding with Checkout";
  display: block;
  float: left;
  font-weight: bold;
}

/* Newsletter
 */
 
 body.page-newsletter div#region-content div.region-inner {
 	background-color: #FFFFFF;
 	border-radius: 5px;
 	-webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000; 
}  
  
  body.page-newsletter div#region-content div.region-inner div#block-system-main {
  	padding: 15px;
}
 	
/* Order Display
 */
 
div.entity-commerce-order table {
	margin: 20px 0;
}

body.page-user-orders div.region-content-inner div#block-system-main {
	padding-bottom: 10px;
}

/* Theme for Forums
 */
 
body.page-forum ul.tabs li a {
	margin-right: 0px;
	padding: 0 9px;
}

body.page-forum ul.tabs li {
	margin-right: 0px;
}
	
body.page-forum ul.tabs {
	padding: 0 10px;
}	
	
body.page-forum div.tabs {
  background: none repeat scroll 0 0 white;
  padding: 10px 5px;
}
body.page-forum div.forum-table-superheader {
	display: none;
}


body.page-forum div#block-system-main,
body.page-node div#block-system-main {
  background: none repeat scroll 0 0 white;
  border-radius: 0 0 5px 5px;
  padding: 0 10px 10px;
}

body.page-forum div#region-content div.region-inner {
 	-webkit-box-shadow: 0px 0px 4px 0px #000000;
  -moz-box-shadow: 0px 0px 4px 0px #000000;
  box-shadow: 0px 0px 4px 0px #000000;
  border-radius: 5px;
}
	

.forum-node-create-links {
	padding-bottom: 10px;
}

.forum-tools {
  float: left;
  margin: 10px 0 15px;
}

div.feed-icon {
	display: none;
}

body.page-node input#edit-subject {
	width: 99%;
}

form#user-login input#edit-name,
form#user-login input#edit-pass {
	width: 99%;
}

/* Theme for Suggestions
 */
 
body.node-type-webform footer.submitted {
 	display: none;
 }
 
body.node-type-webform input#edit-submitted-name,
body.node-type-webform input#edit-submitted-email {
  width: 99%
}   	

body.node-type-webform div.field-name-body {
 	padding-top: 10px;
}

body.node-type-webform div#webform-component-from-email {
	display: none;
}


