/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nice-menu li {
  border-right: 1px solid #ffffff;
  float: left; /* LTR */
}

ul.nice-menu a {
  padding: 0.3em 5px 0.3em 5px;
}

ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  margin-right: 0; /* LTR */
}

ul.nice-menu ul li {
  width: 12.5em;
}



/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}



/*Custom
  by Yan */
ul.nice-menu {
  background: url(../images/gradient.png) repeat-x bottom #3FC0F0;
  color: #fff;
  width: 100%;
  border-radius: 5px;  
}

ul.nice-menu li li,
ul.nice-menu li li a:link,
ul.nice-menu li li a:visited,
ul.nice-menu li.active-trail a,
ul.nice-menu li:hover a {
  background: url(../images/gradient-purp.png) repeat-x bottom #6b29a3;
  color: #fff;
 }

ul.nice-menu li.first a {
  border-radius: 5px 0 0 5px;
}


ul.nice-menu li a{
  color: #FFFFFF;
  background: none;
  
}



ul.nice-menu a {
  padding: 10px 28px;
  line-height: 30px;
}

ul.nice-menu ul {
  top: 50px;
}

ul.nice-menu a {
  font-size: 16.67px;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

